:root {
    --ff-mono: "Fira Code", "Courier New", monospace;
    --ff-serif: "Crimson Text", "Georgia", serif;

    --font-size: 16px;
    --text-width: 70ch;

    --pale-himawariiro: #fffffd;
    --sumi: #1f1f1f;
    --lava: #b00c1d;

    --bg-color: var(--pale-himawariiro);
    --text-color: var(--sumi);
    --accent-color: var(--sumi);
    --link-color: var(--lava);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

html {
    font-size: var(--font-size);
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.4;
    font-family: var(--ff-serif);
    color: var(--text-color);
    -webkit-text-size-adjust: 100%;
    font-kerning: normal;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

p {
    max-width: var(--text-width);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p a {
    text-decoration: underline;
}

p a:hover {
    color: var(--accent-color);
}

p>code,
li>code {
    font-family: var(--ff-mono);
    font-size: 0.8rem;
    background: var(--bg-color);
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    color: var(--accent-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    max-width: var(--text-width);
    padding-left: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul li,
ol li {
    max-width: var(--text-width);
}

hr {
    border-style: solid;
    color: var(--accent-color);
}

.outer-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inner-container {
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    display: flex;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.title a {
    display: flex;
    font-size: 2rem;
    white-space: nowrap;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    font-family: var(--ff-serif);
    font-size: 0.85rem;
    margin: 0em;
    margin-top: auto;
    text-align: center;
}

footer p {
    max-width: 100%;
}

.icons {
    display: flex;
    gap: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.icons a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    white-space: nowrap;
    color: var(--text-color);
}

@media screen and (max-width: 600px) {
    :root {
        --font-size: 18px;
    }
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .title {
        margin-top: 0.5rem;
    }
    .icons {
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 600px) {
    :root {
        --font-size: 20px;
    }
}

@media screen and (min-width: 2000px) {
    :root {
        --font-size: 22px;
    }
}

@media screen and (min-width: 2800px) {
    :root {
        --font-size: 24px;
    }
}
